# Football Challenge

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
matches = pd.read_csv("train.csv", encoding = "ISO-8859-1")

In [5]:
matches = matches.drop(columns='Unnamed: 0')

In [6]:
matches.head()

,eventBegin,paarung,score,RefOdd1,RefOddX,RefOdd2,RefOddOver
0,2015-01-30 20:35:32,VfL Wolfsburg - Bayern München,4:1 (2:0),7.49272,4.85413,1.51180,1.69718
1,2015-01-31 15:30:19,SC Freiburg - Eintracht Frankfurt,4:1 (0:1),2.97516,3.94175,2.42760,1.70712
2,2015-01-31 15:30:56,Hamburger SV - 1.FC Köln,0:2 (0:0),2.54718,3.33901,3.26786,2.59439
3,2015-01-31 15:31:11,Schalke 04 - Hannover 96,1:0 (1:0),2.07487,3.81712,3.88638,1.82383
4,2015-01-31 15:31:21,FSV Mainz 05 - SC Paderborn,5:0 (1:0),2.00676,3.76686,4.25880,1.87892

In [7]:
matches.loc[:,"score1"] = matches.loc[:,"score"].str[0]

In [8]:
matches.loc[:, "score2"] = matches.loc[:, "score"].str[2]

In [9]:
matches.head()

,eventBegin,paarung,score,RefOdd1,RefOddX,RefOdd2,RefOddOver,score1,score2
0,2015-01-30 20:35:32,VfL Wolfsburg - Bayern München,4:1 (2:0),7.49272,4.85413,1.51180,1.69718,4,1
1,2015-01-31 15:30:19,SC Freiburg - Eintracht Frankfurt,4:1 (0:1),2.97516,3.94175,2.42760,1.70712,4,1
2,2015-01-31 15:30:56,Hamburger SV - 1.FC Köln,0:2 (0:0),2.54718,3.33901,3.26786,2.59439,0,2
3,2015-01-31 15:31:11,Schalke 04 - Hannover 96,1:0 (1:0),2.07487,3.81712,3.88638,1.82383,1,0
4,2015-01-31 15:31:21,FSV Mainz 05 - SC Paderborn,5:0 (1:0),2.00676,3.76686,4.25880,1.87892,5,0

In [99]:
def match_result(row):
    if row["score1"] == row["score2"]:
            return "draw"
    
    elif row["home"] == 1:
    
        if row["score1"] > row["score2"]:
            return "home"
    
        elif row["score1"] < row["score2"]:
            return "away"
    
    elif row["home"] == 0:
        
        if row["score1"] < row["score2"]:
            return "home"
        
        elif row["score1"] > row["score2"]:
            return "away"

In [138]:
#matches.loc[:, "result"] = matches.apply(lambda row: match_result(row), axis =1)

In [11]:
matches.head()

,eventBegin,paarung,score,RefOdd1,RefOddX,RefOdd2,RefOddOver,score1,score2
0,2015-01-30 20:35:32,VfL Wolfsburg - Bayern München,4:1 (2:0),7.49272,4.85413,1.51180,1.69718,4,1
1,2015-01-31 15:30:19,SC Freiburg - Eintracht Frankfurt,4:1 (0:1),2.97516,3.94175,2.42760,1.70712,4,1
2,2015-01-31 15:30:56,Hamburger SV - 1.FC Köln,0:2 (0:0),2.54718,3.33901,3.26786,2.59439,0,2
3,2015-01-31 15:31:11,Schalke 04 - Hannover 96,1:0 (1:0),2.07487,3.81712,3.88638,1.82383,1,0
4,2015-01-31 15:31:21,FSV Mainz 05 - SC Paderborn,5:0 (1:0),2.00676,3.76686,4.25880,1.87892,5,0

In [42]:
def home_team(row):
    team = row["paarung"].split("-")[0]
    team = team.strip()
    return team

def away_team(row):
    team = row["paarung"].split("-")[1]
    team = team.strip()
    return team

def clean_name(row):
    
    name = max(row["team1"].split(), key=len)
    name = name.strip()
    #handle exceptions "Eintracht Frankfurt" "1.FC Köln" and "Borussia Dortmund" and "Bayern Munich"
    if name == "Eintracht":
        name = "Frankfurt"
    elif name == "1.FC":
        name = "Köln"
    elif name ==  "Borussia":
        name = "Dortmund"
    elif name == "Bayern":
        name = "München"
        
    
    return name

In [14]:
matches["team1"] = matches.apply(lambda row: home_team(row), axis = 1)

In [15]:
matches["team2"] = matches.apply(lambda row: away_team(row), axis = 1)

In [16]:
matches.head()

,eventBegin,paarung,score,RefOdd1,RefOddX,RefOdd2,RefOddOver,score1,score2,team1,team2
0,2015-01-30 20:35:32,VfL Wolfsburg - Bayern München,4:1 (2:0),7.49272,4.85413,1.51180,1.69718,4,1,VfL Wolfsburg,Bayern München
1,2015-01-31 15:30:19,SC Freiburg - Eintracht Frankfurt,4:1 (0:1),2.97516,3.94175,2.42760,1.70712,4,1,SC Freiburg,Eintracht Frankfurt
2,2015-01-31 15:30:56,Hamburger SV - 1.FC Köln,0:2 (0:0),2.54718,3.33901,3.26786,2.59439,0,2,Hamburger SV,1.FC Köln
3,2015-01-31 15:31:11,Schalke 04 - Hannover 96,1:0 (1:0),2.07487,3.81712,3.88638,1.82383,1,0,Schalke 04,Hannover 96
4,2015-01-31 15:31:21,FSV Mainz 05 - SC Paderborn,5:0 (1:0),2.00676,3.76686,4.25880,1.87892,5,0,FSV Mainz 05,SC Paderborn

Drop the old "paarung" variable and bring the df into the required format (with one line per match still)

In [17]:
matches = matches.loc[:, ["eventBegin", "team1", "team2", "score1", "score2", "RefOdd1", "RefOddX", "RefOdd2", "RefOddOver"]]

In [18]:
matches.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718
1,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712
2,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439
3,2015-01-31 15:31:11,Schalke 04,Hannover 96,1,0,2.07487,3.81712,3.88638,1.82383
4,2015-01-31 15:31:21,FSV Mainz 05,SC Paderborn,5,0,2.00676,3.76686,4.25880,1.87892

In [19]:
matches.loc[:, "home"] = 1

In [20]:
matches.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1
1,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1
2,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1
3,2015-01-31 15:31:11,Schalke 04,Hannover 96,1,0,2.07487,3.81712,3.88638,1.82383,1
4,2015-01-31 15:31:21,FSV Mainz 05,SC Paderborn,5,0,2.00676,3.76686,4.25880,1.87892,1

Alternative dataframe from the away teams perspective (for later merge)

In [21]:
matches_away = pd.concat([matches.eventBegin, matches.team2, matches.team1, 
                          matches.score2, matches.score1, matches.RefOdd2, matches.RefOddX, matches.RefOdd1, 
                          matches.RefOddOver], axis=1)

In [22]:
matches_away.head()

,eventBegin,team2,team1,score2,score1,RefOdd2,RefOddX,RefOdd1,RefOddOver
0,2015-01-30 20:35:32,Bayern München,VfL Wolfsburg,1,4,1.51180,4.85413,7.49272,1.69718
1,2015-01-31 15:30:19,Eintracht Frankfurt,SC Freiburg,1,4,2.42760,3.94175,2.97516,1.70712
2,2015-01-31 15:30:56,1.FC Köln,Hamburger SV,2,0,3.26786,3.33901,2.54718,2.59439
3,2015-01-31 15:31:11,Hannover 96,Schalke 04,0,1,3.88638,3.81712,2.07487,1.82383
4,2015-01-31 15:31:21,SC Paderborn,FSV Mainz 05,0,5,4.25880,3.76686,2.00676,1.87892

In [23]:
#rename columns team2, team1, score2, score1, RefOdd1, RefOdd2
matches_away = matches_away.rename(columns={"team2": "team1", "team1": "team2", 
                                           "score2": "score1", "score1":"score2",
                                           "RefOdd2": "RefOdd1", "RefOdd1": "RefOdd2"})

In [24]:
matches_away.loc[:, "home"] = 0

In [25]:
matches_away.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
0,2015-01-30 20:35:32,Bayern München,VfL Wolfsburg,1,4,1.51180,4.85413,7.49272,1.69718,0
1,2015-01-31 15:30:19,Eintracht Frankfurt,SC Freiburg,1,4,2.42760,3.94175,2.97516,1.70712,0
2,2015-01-31 15:30:56,1.FC Köln,Hamburger SV,2,0,3.26786,3.33901,2.54718,2.59439,0
3,2015-01-31 15:31:11,Hannover 96,Schalke 04,0,1,3.88638,3.81712,2.07487,1.82383,0
4,2015-01-31 15:31:21,SC Paderborn,FSV Mainz 05,0,5,4.25880,3.76686,2.00676,1.87892,0

In [26]:
matches_compl = pd.concat([matches, matches_away], axis=0)

In [27]:
matches_compl.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1
1,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1
2,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1
3,2015-01-31 15:31:11,Schalke 04,Hannover 96,1,0,2.07487,3.81712,3.88638,1.82383,1
4,2015-01-31 15:31:21,FSV Mainz 05,SC Paderborn,5,0,2.00676,3.76686,4.25880,1.87892,1

In [28]:
matches_compl = matches_compl.reset_index()

In [29]:
matches_compl.head()

,index,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
0,0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1
1,1,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1
2,2,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1
3,3,2015-01-31 15:31:11,Schalke 04,Hannover 96,1,0,2.07487,3.81712,3.88638,1.82383,1
4,4,2015-01-31 15:31:21,FSV Mainz 05,SC Paderborn,5,0,2.00676,3.76686,4.25880,1.87892,1

In [30]:
matches_compl = matches_compl.sort_values(by=["index", "home"], ascending=[True, False])

In [31]:
matches_compl = matches_compl.reset_index(drop=True)

In [32]:
matches_compl = matches_compl.drop(columns="index")

In [33]:
matches_compl

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1
1,2015-01-30 20:35:32,Bayern München,VfL Wolfsburg,1,4,1.51180,4.85413,7.49272,1.69718,0
2,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1
3,2015-01-31 15:30:19,Eintracht Frankfurt,SC Freiburg,1,4,2.42760,3.94175,2.97516,1.70712,0
4,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1
...,...,...,...,...,...,...,...,...,...,...
2927,2019-10-19 18:31:01,Borussia M'gladbach,Borussia Dortmund,0,1,6.25306,4.65549,1.59558,1.51266,0
2928,2019-10-20 15:31:16,1.FC Köln,SC Paderborn,3,0,1.77030,4.75075,4.49161,1.31833,1
2929,2019-10-20 15:31:16,SC Paderborn,1.FC Köln,0,3,4.49161,4.75075,1.77030,1.31833,0
2930,2019-10-20 18:01:33,1899 Hoffenheim,Schalke 04,2,0,2.76081,3.72033,2.72041,1.77509,1
2931,2019-10-20 18:01:33,Schalke 04,1899 Hoffenheim,0,2,2.72041,3.72033,2.76081,1.77509,0

### Some overview over the data

In [34]:
matches_compl.team1.unique()

array(['VfL Wolfsburg', 'Bayern München', 'SC Freiburg',
       'Eintracht Frankfurt', 'Hamburger SV', '1.FC Köln', 'Schalke 04',
       'Hannover 96', 'FSV Mainz 05', 'SC Paderborn', 'VfB Stuttgart',
       "Borussia M'gladbach", 'Bayer Leverkusen', 'Borussia Dortmund',
       'Werder Bremen', 'Hertha BSC', 'FC Augsburg', '1899 Hoffenheim',
       "Bor. M'gladbach", 'Paderborn', 'Bor. Dortmund', 'Wolfsburg',
       'Hoffenheim', 'FSV Mainz', "B. M'gladbach", 'Mainz 05',
       'Bay. München', 'Eint. Frankfurt', 'Eintr. Frankfurt', 'Augsburg',
       "M'gladbach", 'B. Dortmund', 'FC Köln', 'Tabellendritter 2.BL',
       'Karlsruher SC', 'FC Ingolstadt', 'SV Darmstadt 98',
       'E. Frankfurt', 'Darmstadt 98', 'TSG 1899 Hoffenheim',
       'Ingolstadt', 'Bayern Munich', 'Ein. Frankfurt', '1 FSV Mainz 05',
       '1. FC Nürnberg', 'RB Leipzig', 'Freiburg', 'E. Braunschweig',
       'Holstein Kiel', 'Fortuna Düsseldorf', 'B. Leverkusen',
       'Fort. Düsseldorf', 'F. Düsseldorf', 'Union Berlin',
       'FC Union Berlin'], dtype=object)

In [35]:
matches_compl.team1.nunique()

55

In [43]:
matches_compl.loc[:, "clean_name"] = matches_compl.apply(lambda row: clean_name(row), axis=1)

In [44]:
matches_compl.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home,clean_name
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1,Wolfsburg
1,2015-01-30 20:35:32,Bayern München,VfL Wolfsburg,1,4,1.51180,4.85413,7.49272,1.69718,0,München
2,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1,Freiburg
3,2015-01-31 15:30:19,Eintracht Frankfurt,SC Freiburg,1,4,2.42760,3.94175,2.97516,1.70712,0,Frankfurt
4,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1,Hamburger

In [48]:
matches_compl.shape

(2932, 11)

In [50]:
matches_compl.loc[matches_compl.clean_name != "Tabellendritter", ].shape

(2931, 11)

In [184]:
~matches_compl["score1"].isna()

0       True
1       True
2       True
3       True
4       True
        ...
2927    True
2928    True
2929    True
2930    True
2931    True
Name: score1, Length: 2931, dtype: bool

In [183]:
matches_compl["score1"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
2927    False
2928    False
2929    False
2930    False
2931    False
Name: score1, Length: 2931, dtype: bool

In [185]:
#Drop Tabellendritter rows completely
matches_compl = matches_compl.loc[matches_compl.clean_name != "Tabellendritter", ]
#drop NA rows completely
matches_compl = matches_compl.loc[~matches_compl["score1"].isna(), ]

In [52]:
matches_compl.clean_name.unique()

array(['Wolfsburg', 'München', 'Freiburg', 'Frankfurt', 'Hamburger',
       'Köln', 'Schalke', 'Hannover', 'Mainz', 'Paderborn', 'Stuttgart',
       "M'gladbach", 'Leverkusen', 'Dortmund', 'Werder', 'Hertha',
       'Augsburg', 'Hoffenheim', 'Karlsruher', 'Ingolstadt', 'Darmstadt',
       'Nürnberg', 'Leipzig', 'Braunschweig', 'Holstein', 'Düsseldorf',
       'Berlin'], dtype=object)

In [53]:
len(matches_compl.clean_name.unique())

27

In [186]:
raw_names = matches_compl.clean_name.unique()

In [187]:
team_names = ["VfL Wolfsburg", "Bayern München", "SC Freiburg", "Eintracht Frankfurt", "Hamburger SV", "1.FC Köln",
             "Schalke 04", "Hannover 96", "Mainz 05", "Paderborn SC", "VfB Stuttgart", "Borussia M'gladbach",
             "Bayer Leverkusen", "Borussia Dortmund", "Werder Bremen", "Hertha BSC", "FC Augsburg", "TSG Hoffenheim", 
             "Karlsruher SC", "FC Ingolstadt", "SV Darmstadt", "FC Nürnberg", "RB Leipzig", "Eintracht Braunschweig",
             "Holstein Kiel", "Fortuna Düsseldorf", "Union Berlin"]

In [55]:
len(team_names)

27

In [188]:
team_dict = {}

In [189]:
for i in range(len(team_names)):
    team_dict[raw_names[i]] = team_names[i]

In [190]:
team_dict

{'VfL Wolfsburg': 'VfL Wolfsburg',
 'Bayern München': 'Bayern München',
 'SC Freiburg': 'SC Freiburg',
 'Eintracht Frankfurt': 'Eintracht Frankfurt',
 'Hamburger SV': 'Hamburger SV',
 '1.FC Köln': '1.FC Köln',
 'Schalke 04': 'Schalke 04',
 'Hannover 96': 'Hannover 96',
 'Mainz 05': 'Mainz 05',
 'Paderborn SC': 'Paderborn SC',
 'VfB Stuttgart': 'VfB Stuttgart',
 "Borussia M'gladbach": "Borussia M'gladbach",
 'Bayer Leverkusen': 'Bayer Leverkusen',
 'Borussia Dortmund': 'Borussia Dortmund',
 'Werder Bremen': 'Werder Bremen',
 'Hertha BSC': 'Hertha BSC',
 'FC Augsburg': 'FC Augsburg',
 'TSG Hoffenheim': 'TSG Hoffenheim',
 'Karlsruher SC': 'Karlsruher SC',
 'FC Ingolstadt': 'FC Ingolstadt',
 'SV Darmstadt': 'SV Darmstadt',
 'FC Nürnberg': 'FC Nürnberg',
 'RB Leipzig': 'RB Leipzig',
 'Eintracht Braunschweig': 'Eintracht Braunschweig',
 'Holstein Kiel': 'Holstein Kiel',
 'Fortuna Düsseldorf': 'Fortuna Düsseldorf',
 'Union Berlin': 'Union Berlin'}

In [191]:
matches_compl = matches_compl.replace({"clean_name": team_dict})

In [192]:
matches_compl.head()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home,clean_name
0,2015-01-30 20:35:32,VfL Wolfsburg,Bayern München,4,1,7.49272,4.85413,1.51180,1.69718,1,VfL Wolfsburg
1,2015-01-30 20:35:32,Bayern München,VfL Wolfsburg,1,4,1.51180,4.85413,7.49272,1.69718,0,Bayern München
2,2015-01-31 15:30:19,SC Freiburg,Eintracht Frankfurt,4,1,2.97516,3.94175,2.42760,1.70712,1,SC Freiburg
3,2015-01-31 15:30:19,Eintracht Frankfurt,SC Freiburg,1,4,2.42760,3.94175,2.97516,1.70712,0,Eintracht Frankfurt
4,2015-01-31 15:30:56,Hamburger SV,1.FC Köln,0,2,2.54718,3.33901,3.26786,2.59439,1,Hamburger SV

In [193]:
matches_compl.shape

(2929, 11)

## Preprocessing for Model

In [194]:
from sklearn.preprocessing import OneHotEncoder

In [195]:
oh_enc = OneHotEncoder(sparse_output=False)

In [196]:
import numpy as np

In [197]:
names_arr = np.array(matches_compl.clean_name)

In [198]:
names_arr = names_arr.reshape(-1,1)

In [199]:
oh_enc.fit(names_arr)

OneHotEncoder(sparse_output=False)

In [200]:
names_enc = oh_enc.transform(names_arr)

In [201]:
names_enc

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [202]:
pd.DataFrame(names_enc)

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2925,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2928,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [203]:
y_df = matches_compl.apply(lambda row: match_result(row), axis=1)

In [204]:
y_df

0       home
1       home
2       home
3       home
4       away
        ...
2927    home
2928    home
2929    home
2930    home
2931    home
Length: 2929, dtype: object

In [165]:
y_df.unique()

array(['home', 'away', 'draw', None], dtype=object)

In [205]:
y_arr = np.array(y_df)

In [206]:
y_arr.shape

(2929,)

In [207]:
from sklearn.preprocessing import LabelEncoder

In [208]:
lab_enc = LabelEncoder()

In [209]:
lab_enc.fit(y_arr)

LabelEncoder()

In [210]:
y_enc = lab_enc.transform(y_arr)

In [211]:
y_enc

array([2, 2, 2, ..., 2, 2, 2])

In [212]:
lab_enc.inverse_transform([0,1,2])

array(['away', 'draw', 'home'], dtype=object)

In [213]:
names_enc.shape

(2929, 27)

In [214]:
y_enc.shape

(2929,)

In [215]:
home_var = np.array(matches_compl.home).reshape(-1,1)

In [216]:
home_var.shape

(2929, 1)

In [217]:
X_full = np.concatenate((names_enc, home_var), axis=1)

In [218]:
X_full.shape

(2929, 28)

In [224]:
X_train, X_test = X_full[:2300, ], X_full[2300:, ]
y_train, y_test = y_enc[:2300], y_enc[2300:]

In [225]:
X_train.shape

(2300, 28)

In [226]:
X_test.shape

(629, 28)

In [227]:
y_train.shape

(2300,)

In [228]:
y_test.shape

(629,)

In [229]:
from sklearn.ensemble import GradientBoostingClassifier

In [230]:
xgb_mod = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)

In [231]:
xgb_mod.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=1.0, max_depth=1, random_state=0)

In [232]:
xgb_mod.score(X_test, y_test)

0.43243243243243246

In [233]:
y_pred = xgb_mod.predict(X_test)

In [234]:
from sklearn.metrics import accuracy_score

In [235]:
accuracy_score(y_test, y_pred)

0.43243243243243246

In [236]:
params = {"max_depth": [1,2,3,4,5], "learning_rate": [0.1, 0.3, 0.5, 0.8, 1, 1.5, 2], "n_estimators": [40, 80, 100, 200], 
          "n_iter_no_change": [5, 10, 20, 40]}

In [237]:
from sklearn.model_selection import GridSearchCV

In [254]:
grid_search = GridSearchCV(GradientBoostingClassifier(), param_grid=params, scoring="f1_weighted")

In [255]:
grid_search.fit(X_train, y_train)

GridSearchCV(estimator=GradientBoostingClassifier(),
             param_grid={'learning_rate': [0.1, 0.3, 0.5, 0.8, 1, 1.5, 2],
                         'max_depth': [1, 2, 3, 4, 5],
                         'n_estimators': [40, 80, 100, 200],
                         'n_iter_no_change': [5, 10, 20, 40]},
             scoring='f1_weighted')

In [256]:
grid_search.best_score_

0.4046944646185395

In [257]:
grid_search.best_params_

{'learning_rate': 0.8,
 'max_depth': 4,
 'n_estimators': 100,
 'n_iter_no_change': 10}

In [150]:
from sklearn.metrics import f1_score

In [260]:
xgb_mod_improved = GradientBoostingClassifier(learning_rate=0.8, max_depth=4, n_estimators=100, n_iter_no_change=10)

In [261]:
xgb_mod_improved.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=0.8, max_depth=4, n_iter_no_change=10)

In [262]:
y_pred_improved = xgb_mod_improved.predict(X_test)

In [264]:
f1_score(y_test, y_pred_improved, average="weighted")

0.40027308707753856

In [157]:
from sklearn.metrics import precision_score, recall_score

In [265]:
pd.value_counts(pd.Series(y_enc))

2    1334
0     864
1     731
dtype: int64

In [266]:
pd.value_counts(pd.Series(y_pred_improved))

2    470
0    125
1     34
dtype: int64

In [267]:
pd.value_counts(pd.Series(y_test))

2    270
0    208
1    151
dtype: int64

In [268]:
probs_pred = xgb_mod_improved.predict_proba(X_test)

In [269]:
probs_pred

array([[0.13620238, 0.31547513, 0.5483225 ],
       [0.31651951, 0.31294751, 0.37053298],
       [0.24371222, 0.28522605, 0.47106173],
       ...,
       [0.22333256, 0.1422895 , 0.63437794],
       [0.18819327, 0.29605951, 0.51574723],
       [0.29923398, 0.23904429, 0.46172172]])

In [271]:
matches_compl.groupby(by="clean_name").count()

,eventBegin,team1,team2,score1,score2,RefOdd1,RefOddX,RefOdd2,RefOddOver,home
clean_name,,,,,,,,,,
1.FC Köln,128,128,128,128,128,126,126,126,126,128
Bayer Leverkusen,161,161,161,161,161,160,160,160,158,161
Bayern München,166,166,166,166,166,163,163,163,162,166
Borussia Dortmund,164,164,164,164,164,163,163,163,162,164
Borussia M'gladbach,160,160,160,160,160,158,158,158,159,160
Eintracht Braunschweig,2,2,2,2,2,2,2,2,2,2
Eintracht Frankfurt,165,165,165,165,165,165,165,165,165,165
FC Augsburg,161,161,161,161,161,156,156,156,159,161
FC Ingolstadt,68,68,68,68,68,68,68,68,68,68
FC Nürnberg,37,37,37,37,37,37,37,37,37,37
Fortuna Düsseldorf,42,42,42,42,42,42,42,42,42,42
Hamburger SV,122,122,122,122,122,121,121,121,120,122
Hannover 96,119,119,119,119,119,118,118,118,119,119
Hertha BSC,161,161,161,161,161,161,161,161,161,161
Holstein Kiel,2,2,2,2,2,2,2,2,2,2
Karlsruher SC,2,2,2,2,2,2,2,2,2,2
Mainz 05,161,161,161,161,161,158,158,158,159,161
Paderborn SC,25,25,25,25,25,25,25,25,25,25
RB Leipzig,111,111,111,111,111,109,109,109,107,111
SC Freiburg,127,127,127,127,127,124,124,124,126,127
SV Darmstadt,68,68,68,68,68,67,67,67,67,68
Schalke 04,161,161,161,161,161,161,161,161,161,161
TSG Hoffenheim,161,161,161,161,161,160,160,160,161,161
Union Berlin,9,9,9,9,9,9,9,9,9,9
VfB Stuttgart,119,119,119,119,119,119,119,119,118,119
VfL Wolfsburg,166,166,166,166,166,165,165,165,165,166
Werder Bremen,161,161,161,161,161,161,161,161,160,161